@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=Playfair+Display:wght@600&display=swap');
body{
    height:100%;
    width: 100%;
    font-family: "IBM Plex Mono";
    background: rgb(142,137,239);
    background: linear-gradient(90deg, rgb(120, 116, 199) 0%, rgba(208,197,218,1) 50%, rgba(159,190,243,1) 100%);
}
.button{
    width: 66px;
    padding: 20px;
    margin: 0 3px ;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 6px 6px 12px #c5c5c5,
    -6px -6px 12px #ffffff;
    background-color: rgba(208,197,218,1);
    color: rgb(14, 1, 29);
}
.row{
    margin:8px 0;
   
}
.row input{
    
    margin: 0;
    padding: 10px px;
    border: 2px solid  rgba(208,197,218,1);
    border-radius: 5px;
    font-size: 24px;
    color: rgb(61, 36, 87);
}

